<?xml version="1.0"?>
<robot name="kinect_v2" xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:include filename="$(find kinect_v2)/urdf/kinect_v2.gazebo.xacro" />
    <property name="M_PI" value="3.14159" />

    <!-- Kinect2 and mount assembly -->
    <xacro:macro name="kinect_v2" params=" parent *origin">
        <joint name="kinect2_joint" type="fixed">
            <insert_block name="origin" />
            <!--parent link="${parent}" /-->
            <parent link="world" />
            <child link="kinect2_base_link" />
            <!--origin xyz="-0.02 0.0 0.055" rpy="0 0 0"/-->

        </joint>
        <link name="kinect2_base_link">
            <inertial>
                <origin xyz="-0.0028247 0.00047839 0.038307" rpy="0 0 0" />
                <mass value="0.82085" />
                <inertia ixx="0.0039702" ixy="0" ixz="0" iyy="0.00059235" iyz="0" izz="0.0041195" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://kinect_v2/meshes/kinect2.STL" />
                </geometry>
                <material name="">
                    <color rgba="0.5 0.5 0.5 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://kinect_v2/meshes/kinect2.STL" />
                </geometry>
            </collision>
        </link>

        <!-- kinect2 rgb sensor physical attachment -->
        <joint name="kinect2_rgb_joint" type="fixed">
            <origin xyz="0.032 -0.095 0.042015" rpy="0 0 0" />
            <parent link="kinect2_base_link" />
            <child link="kinect2_rgb_link" />
        </joint>
        <link name="kinect2_rgb_link" />
        <!-- kinect2 rgb sensor frame -->
        <joint name="kinect2_rgb_optical_frame_joint" type="fixed">
            <origin xyz="0 0 0" rpy="${-M_PI / 2.0} 0 ${-M_PI / 2.0}" />
            <parent link="kinect2_rgb_link" />
            <child link="kinect2_rgb_optical_frame" />
        </joint>
        <link name="kinect2_rgb_optical_frame" />
        <!-- gazebo extensions -->
        <xacro:kinect2_rgb_gazebo link_name="kinect2_rgb_link" frame_name="kinect2_rgb_optical_frame" camera_name="kinect_V2" />    

        <!-- kinect2 ir sensor physical attachment -->
        <joint name="kinect2_ir_joint" type="fixed">
            <origin xyz="0 0.05157 0" rpy="0 0 0" />
            <parent link="kinect2_rgb_link" />
            <child link="kinect2_ir_link" />
        </joint>
        <link name="kinect2_ir_link" />
        <!-- kinect2 ir sensor frame -->
        <joint name="kinect2_ir_optical_frame_joint" type="fixed">
            <origin xyz="0 0 0" rpy="${-M_PI / 2.0} 0 ${-M_PI / 2.0}" />
            <parent link="kinect2_ir_link" />
            <child link="kinect2_ir_optical_frame" />
        </joint>
        <link name="kinect2_ir_optical_frame" />
        <!-- gazebo extensions -->
        <xacro:kinect2_ir_gazebo link_name="kinect2_ir_link" frame_name="kinect2_ir_optical_frame" camera_name="kinect_V2" />
    </xacro:macro>
</robot>
