<?xml version="1.0" ?>

<robot name="robotiq_85_gripper" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />
    <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_kinova_coupler.urdf.xacro" />
    
    <xacro:property name="pi" value="3.1415"/>
    
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"> 
            <robotNamespace>/</robotNamespace>
        </plugin> 
    </gazebo>
    
    <link name="world"/>
    <joint name="world_fixed" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="gripper_root_link"/>
    </joint>
    
    <link name="gripper_root_link">
        <visual>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.1 0.1 1.0"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.1 0.1 1.0"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="1e2" />
            <origin xyz="0.0 0.0 0.0" />
            <inertia ixx = "0.000001" ixy = "0.000000" ixz = "0.000000"
                     iyx = "0.000000" iyy = "0.000001" iyz = "0.000000"
                     izx = "0.000000" izy = "0.000000" izz = "0.000001" />
        </inertial>
    </link>

    <joint name="ee_fixed_joint" type="fixed">
        <parent link="gripper_root_link" />
        <child link = "ee_link" />
        <origin xyz="0.202757 0 0.85" rpy="0 0 0"/> 
    </joint>

    <link name="ee_link"/>
    
    <xacro:robotiq_85_kinova_coupler prefix="" parent="ee_link">
        <origin xyz="-0.152757 0 0" rpy="0 ${-pi/2} 0"/>
    </xacro:robotiq_85_kinova_coupler>

    <xacro:robotiq_85_gripper prefix="" parent="robotiq_coupler_link" >
        <origin xyz="0 0 -0.05105" rpy="0 ${pi/2} 0"/>
    </xacro:robotiq_85_gripper>
    
</robot>
