<?xml version="1.0"?>
<launch>

    <!-- ROS Driver, Robot State Publisher, and sensors -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="1 robotiq_85_gazebo robotiq_85.launch"
        name="robotiq_85_gazebo_bringup" output="screen"/>
        
    <!-- MoveIt! configuration -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="8 robotiq_85_moveit_config robotiq_85_moveit_planning_execution.launch sim:=true"
        name="robotiq_85_moveit_bringup" output="screen"/>

    <!-- Kinematics test -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="15 robotiq_85_moveit_config moveit_rviz.launch config:=true"
        name="moveit_rviz_bringup" output="screen"/>

</launch>
