<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find ur_gazebo)/worlds/my_world4_ball_moving.world"/>
    <!--arg name="world_name" default="$(find ur_gazebo)/worlds/my_world5.world"/-->
    <arg name="paused" default="false"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>


</launch>
