<launch>
  <arg name="gui" default="True" />
  <include file="$(find robotiq_85_description)/launch/upload_robotiq_85_gripper.launch"/>
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotiq_85_description)/urdf.rviz" required="true" />
</launch>
