<?xml version="1.0"?>


<robot name="robotiq_85_gripper" xmlns:xacro="http://ros.org/wiki/xacro">
    
    <xacro:macro name="robotiq_85_kinova_coupler" params="prefix parent *origin">

        <joint name="${prefix}kinova_robotiq_coupler_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${prefix}robotiq_coupler_link"/>
            <xacro:insert_block name="origin"/>
        </joint>
        
        <link name="${prefix}robotiq_coupler_link">
            <visual>
                <geometry>
                    <mesh filename="package://robotiq_85_description/meshes/visual/kinova_robotiq_coupler.dae"/>
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://robotiq_85_description/meshes/collision/kinova_robotiq_coupler.stl"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="0.1" />
                <origin xyz="0.0 0.0 0.0" />
                <inertia ixx = "0.000001" ixy = "0.000000" ixz = "0.000000"
                         iyx = "0.000000" iyy = "0.000001" iyz = "0.000000"
                         izx = "0.000000" izy = "0.000000" izz = "0.000001" />
            </inertial>
        </link>
        
        <gazebo reference="${prefix}robotiq_coupler_link">
            <implicitSpringDamper>1</implicitSpringDamper>
            <mu1>100000</mu1>
            <mu2>100000</mu2>
            <kp>100000000.0</kp>
            <kd>1.0</kd>
        </gazebo>
    </xacro:macro>    
</robot>
